{
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "extends": ["next", "eslint:recommended", "prettier"],
    "plugins": ["@emotion"],
    "rules": {
        "react/jsx-no-target-blank": "off",
        "jsx-a11y/alt-text": "off",
        "@next/next/no-img-element": "off",
        "no-redeclare": "off",
        "no-unused-vars": "off",
        "no-undef": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "prefer-destructuring": "off",
        "import/no-anonymous-default-export": "off",
        "react-hooks/exhaustive-deps": "off",
        "react-hooks/rules-of-hooks": "off",
        "@next/next/link-passhref": "off",
        "@emotion/jsx-import": "off",
        "@emotion/no-vanilla": "off",
        "@emotion/import-from-emotion": "off",
        "@emotion/styled-import": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
